html{
    text-align: center;

    .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    padding: 10px 25px;
    font-size: 18px;
    cursor: pointer;
}
}